<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @buk.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @buk.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @buk.image_url %>
</p>

<p>
  <strong>Author:</strong>
  <%= @buk.author %>
</p>

<%= link_to 'Edit', edit_buk_path(@buk) %> |
<%= link_to 'Back', buks_path %>
